header {
font-family: Dosis;
width: 100%;
height: 200px;
background-color: #1B6E76;
}

img {

}

h1 {
text-align: center;
text-transform: uppercase;
color: white;
margin-top: 50px;
}

h2 {
  text-align: center;
  text-rendering: geometricPrecision;
  color: white;
}
body {
margin: 0;
}



section
{
  text-align: center;
}

.nav {
  margin-right: 20px;
  text-align: right;
  color: white;
  display: table-cell;

}

.logo {
float: left;
}


  }
footer {
text-align: center;
}

.one, .two, .three, .four
{
  width: 30%;
}
