
img {

}

h1 {
text-align: center;
}

h2 {
  text-align: center;
}
body {
margin: 0;
}

header {
  background-color: #1B6E76;
  font-family: Dosis
}
section
{
  text-align: center;
}

.nav {
  text-align: right;

}

.logo {
  text-align: center;
}


  }
footer {
  background-position: center;
}
